.hotspot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgba(0,0,0,0.75);
    border: 2px solid white;
    cursor: pointer;

    display:flex;
    align-items:center;
    justify-content:center;

    color:white;
    font-size:14px;

    transform: translate(-50%, -50%);
    position:absolute;

    backdrop-filter: blur(4px);
}

/* tipi */


.hotspot.info { background:#ff3b3b; }
.hotspot.link { background:#ff9900; }
.hotspot.url  { background:#00cfff; }

/* hover */

.hotspot:hover {
    transform: translate(-50%, -50%) scale(1.2);
    background: rgba(0,0,0,0.9);
}
